nvidia-pyindex
CouchDB
accelerate
huggingface-hub
jupyterlab
mcp
neo4j
numpy
nvidia-cuda-runtime-cu12
pandas
pymupdf4llm
python-dateutil
redis
regex
requests
scikit-learn
scipy
sentence-transformers
setuptools
spark-nlp
tesseract
tensorflow
torch
transformers
tqdm
tf-keras
pyarrow
bibtexparser
feedparser
frontend
tools
PyMuPDF
peft
pyspark>=3.5.7, <4.0
git+https://github.com/sciunto-org/python-bibtexparser@main
