nvidia-pyindex
CouchDB
accelerate
huggingface-hub
jupyterlab
mcp
neo4j
numpy
nvidia-cuda-runtime-cu12
pandas
pymupdf4llm
pyspark
python-dateutil
redis
regex
requests
scikit-learn
scipy
sentence-transformers
setuptools
spark-nlp
tesseract
tensorflow
torch
transformers
tqdm
tf-keras

pyarrow
